.error_404{
	height: 100vh;
	width: 100%;
	background: linear-gradient(135deg, var(--negro-profundo), var(--gris-mecanico));
	display: flex;
	justify-content: center;
	align-items: center;.card{
		background-color: var(--acero-claro);
		padding: 6.5vh;
		border-radius: 24px;
		display: flex;
		flex-direction: column;
		align-items: center;
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
		border: 3px solid var(--amarillo-potente);		h1{
			margin: 0;
			font-size: 120px;
			font-weight: bold;
			color: var(--amarillo-potente);
			text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
		}
		h3{
			margin: 0;
			font-size: 24px;
			font-weight: lighter;
			color: var(--negro-profundo);
		}
		h4{
			margin: 0;
			padding-top: 2vh;
			font-size: 14px;
			font-weight: lighter;
			color: var(--azul-tecnico);
		}
	}
}